
@{
    ViewBag.Title = "IMC aleatorio";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Resultados</h1>
    <div class="seccion_1" id="s1">
        <ul>
            <li>IMC menor que 18,5 -> peso insuficiente</li>
            <li>IMC 18,5 y 24,9 -> peso normal</li>
            <li>IMC mayor que 25 -> sobrepeso</li>
        </ul>
        <hr />
    </div>
    <div class="seccion_2" id="s2">
        <a class="btn btn-info" href="https://localhost:44345/">Volver al inicio</a>
    </div>
    <hr />
    <div class="seccion_3" id="s3">
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Peso</th>
                <th>Estatura</th>
                <th>IMC</th>
            </tr>
            @for (int persona = 0; persona < ViewBag.personas.Count; ++persona)
            {
                <tr>
                    <td>@ViewBag.personas[persona].id</td>
                    <td>@ViewBag.personas[persona].Nombre</td>
                    <td>@ViewBag.personas[persona].Peso</td>
                    <td>@ViewBag.personas[persona].Estatura</td>
                    @if (ViewBag.personas[persona].IMC > 18.5 && ViewBag.personas[persona].IMC < 24.9)
                    {
                        <td class="text-success">@ViewBag.personas[persona].IMC</td>
                    }
                    else
                    {
                        <td class="text-danger">@ViewBag.personas[persona].IMC</td>
                    }
                </tr>
            }
        </table>
        <hr />
    </div>
</body>
</html>